.list-group .name{
    width: 35%;
}
.list-group .email{
    width: 35%;
}
.list-group .roles{
    width: 20%;
}
.list-group .my-btn{
    width: 10%;
}

.my-modal {
    width: 90vw;
    max-width: 90vw;
} 
