.teacher-container{
    padding-top: 30px;
}

.group-container{
    padding-top: 2%;

}
.groupList tr td{
    width:200;
}

.groupList{
    padding-left: 2%;
    display: inline-block;
    text-align: center;

}

.groupInfo{
    padding-right: 5%;
    text-align: left;
    float:right;

}


.teacher-container .profile-avatar img {
    right: 200px;
    border-radius: 50%;
    max-width: 50px;
}
.teacher-container .text-avatar {
    width: 50px;
    height: 50px;
}
